* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: lightgrey;
}

header {
    background-color: rgb(43, 42, 42);
    padding: 20px 20px 20px 0px;
}

    header h1 {
        display: inline-block;
        font-size: 60px;
        background-color: turquoise;
        color: rgb(43, 42, 42);
        width: 400px;
        height: 65px;
        padding: 0px 10px 10px 115px;
    }

    header nav {
        float: right;
        font-size: 36px
    }

    header nav ul {
        list-style-type: none;
        padding-right: 150px;
    }

    header nav ul li {
        display: inline-block;
        margin-left: 30px;
        margin-top: 20px;
    }

    header nav ul li a {
        text-decoration: underline;
        color: turquoise;
    }

.hero {
    height: 275px;
    width: 100%;
    background-image: url(../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-subtitle h1 {
    position: absolute;
    font-size: 36px;
    left: 1275px;
    top: 175px;
    background-color: turquoise;
    color: rgb(43, 42, 42);
    padding: 10px;
}

.content {
    width: 90%;
    display: inline-block;
    margin-left: 200px;
}

.About-Me {
    margin: 75px 0px 75px 0px;
    color: rgb(18, 18, 81);
}

    .About-Me h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        text-align: right;
        padding-right: 5px;
    }

    .About-Me p {
        display: inline-block;
        width: 60%;
        float: right;
        position: absolute;
        top: 460px;
        margin-left: 60px;
        border-left: solid;
        border-color: rgb(18, 18, 81);
        border-width: 5px;
        padding-left: 125px;
    }

.Work {
    margin: 0px 0px 75px 0px;
    color: rgb(18, 18, 81);            
}

    .Work h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        text-align: right;
        padding-right: 5px;
        position: relative;
        bottom: 40px;
    }

    .Work-Links {
        display: inline-block;
        border-left: solid;
        border-color: rgb(18, 18, 81);
        border-width: 5px;
        margin-left: 230px;
        position: relative;
        height: 850px;
        bottom: 100px; 
    }

    .Work div {
        display: inline-block;
    }

    .Surf-Report {
        display: inline-block;
        width: 1000px;
        height: 400px;
        padding-left: 25px;
        margin-left: 125px;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        background-image: url(../assets/images/surf.jpg);
        background-size: cover;
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    .Surf-Report a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        right: 30px;
        top: 300px;
        padding-left: 40px;
        text-align: left;
    }

    .Surf-Report p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 233px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .LED-Wall {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        left: 125px;
        bottom: 5px;
        margin: 20px 25px 25px 0px;
        background-image: url(../assets/images/LEDWall.jpg);
        background-size: cover;
    }

    .LED-Wall a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px
    }

    .LED-Wall p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 185px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .Calculator {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        left: 115px;
        bottom: 5px;
        background-image: url(../assets/images/calculator.jpg);
        background-size: cover;
    }

    .Calculator a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px;
    }

    .Calculator p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        width: 210px;
        padding-left: 30px;
        padding-right: 50px;
    }

    .Pastel-Puzzles {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        margin: 20px 25px 25px 0px;
        bottom: 35px;
        left: 125px;
        background-image: url(../assets/images/pastel.jpg);
        background-size: cover;
    }

    .Pastel-Puzzles a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px
    }

    .Pastel-Puzzles p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 278px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .Run-Buddy {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        left: 115px;
        bottom: 35px;
        background-image: url(../assets/images/runbuddy.jpg);
        background-size: cover;
    }

    .Run-Buddy a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px;
    }

    .Run-Buddy p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        width: 219px;
        padding-left: 40px;
        padding-right: 50px;
    }