* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: lightgrey;
}

header {
    background-color: rgb(43, 42, 42);
    padding: 20px 20px 20px 0px;
}

    header h1 {
        display: inline-block;
        font-size: 60px;
        background-color: turquoise;
        color: rgb(43, 42, 42);
        width: 400px;
        height: 65px;
        padding: 0px 10px 10px 115px;
    }

    header nav {
        float: right;
        font-size: 36px
    }

    header nav ul {
        list-style-type: none;
        padding-right: 150px;
    }

    header nav ul li {
        display: inline-block;
        margin-left: 30px;
        margin-top: 20px;
    }

    header nav ul li a {
        text-decoration: underline;
        color: turquoise;
    }

.hero {
    height: 275px;
    width: 100%;
    background-image: url(../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-subtitle h1 {
    position: absolute;
    font-size: 36px;
    left: 1275px;
    top: 175px;
    background-color: turquoise;
    color: rgb(43, 42, 42);
    padding: 10px;
}

.content {
    width: 90%;
    display: inline-block;
    margin-left: 200px;
}

.About-Me {
    margin: 75px 0px 75px 0px;
    color: rgb(18, 18, 81);
}

    .About-Me h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        text-align: right;
        padding-right: 5px;
    }

    .About-Me p {
        display: inline-block;
        width: 60%;
        float: right;
        position: absolute;
        top: 460px;
        margin-left: 60px;
        border-left: solid;
        border-color: rgb(18, 18, 81);
        border-width: 5px;
        padding-left: 125px;
    }

.Work {
    margin: 0px 0px 75px 0px;
    color: rgb(18, 18, 81);            
}

    .Work h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        text-align: right;
        padding-right: 5px;
        position: relative;
        bottom: 40px;
    }

    .Work-Links {
        display: inline-block;
        border-left: solid;
        border-color: rgb(18, 18, 81);
        border-width: 5px;
        margin-left: 230px;
        position: relative;
        height: 850px;
        bottom: 100px; 
    }

    .Work div {
        display: inline-block;
    }

    .Surf-Report {
        display: inline-block;
        width: 1000px;
        height: 400px;
        padding-left: 25px;
        margin-left: 125px;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        background-image: url(../assets/images/surf.jpg);
        background-size: cover;
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    .Surf-Report:hover {
        opacity: 60%;
    }

    .Surf-Report a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        right: 30px;
        top: 300px;
        padding-left: 40px;
        text-align: left;
    }

    .Surf-Report p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 233px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .LED-Wall {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        left: 125px;
        bottom: 5px;
        margin: 20px 25px 25px 0px;
        background-image: url(../assets/images/LEDWall.jpg);
        background-size: cover;
    }

    .LED-Wall:hover {
        opacity: 60%;
    }

    .LED-Wall a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px
    }

    .LED-Wall p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 185px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .Calculator {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        left: 115px;
        bottom: 5px;
        background-image: url(../assets/images/calculator.jpg);
        background-size: cover;
    }

    .Calculator:hover {
        opacity: 60%;
    }

    .Calculator a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px;
    }

    .Calculator p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        width: 210px;
        padding-left: 30px;
        padding-right: 50px;
    }

    .Pastel-Puzzles {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        margin: 20px 25px 25px 0px;
        bottom: 35px;
        left: 125px;
        background-image: url(../assets/images/pastel.jpg);
        background-size: cover;
    }

    .Pastel-Puzzles:hover {
        opacity: 60%;
    }

    .Pastel-Puzzles a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px
    }

    .Pastel-Puzzles p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 278px;
        padding-left: 40px;
        padding-right: 50px;
    }

    .Run-Buddy {
        display: inline-block;
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 490px;
        height: 210px;
        left: 115px;
        bottom: 35px;
        background-image: url(../assets/images/runbuddy.jpg);
        background-size: cover;
    }

    .Run-Buddy:hover {
        opacity: 60%;
    }

    .Run-Buddy a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 40px;
        top: 110px;
    }

    .Run-Buddy p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        width: 219px;
        padding-left: 40px;
        padding-right: 50px;
    }

.Contact-Me {
    position: relative;
    bottom: 50px;
    left: 50px;
}

    .Contact-Me h2 {
        color: rgb(18, 18, 81);
        display: inline-block;
        font-size: 60px;
        position: relative;
        bottom: 80px;
        right: 158px;
        width: 20%;
        text-align: right;
        border-right: solid;
        border-width: 5px;
        padding-right: 65px;
    }

    .Contact-Me ul {
        display: inline-block;
        position: relative;
        bottom: 125px;
        right: 30px;
    }

    .Contact-Me ul li {
        display: inline-block;
        padding-right: 125px;
        font-size: 36px;
        font-weight: bold;
        color: rgb(43, 42, 42);
        text-decoration: underline;
    }

    .Contact-Me ul li a {
        display: inline-block;
        text-decoration: none;
        color: rgb(43, 42, 42);
        text-decoration: underline;
    }

@media screen and (max-width: 980px) {
    header {
        width: 100%;
        padding: 0px;
    }
    header h1 {
        width: 25%;
        font-size: 48px;
        height: 50%;
        text-align: right;
        top: 25px;
        position: relative;
        padding: 0px;
    }

    header nav {
        font-size: 24px;
        position: relative;
        text-align: right;
        bottom: 35px;
        left: -75px;
        float: none;
    }

    .hero {
        width: 100%;
        height: 200px;
        background-image: url(../assets/images/hero.jpg);
        background-size: cover;
        background-position: center;
    }

    .hero-subtitle h1 {
        position: relative;
        font-size: 36px;
        left: 575px;
        top: 50px;
        background-color: turquoise;
        color: rgb(43, 42, 42);
        width: 20%;
        padding: 0px;
    }

    .About-Me {
        color: rgb(18, 18, 81);
        margin: 0px;
        position: relative;
        right: 60px;
    }

    .About-Me h2 {
            font-size: 60px;
            position: relative;
            width: 40%;
            left: 135px;
            padding: 0px;
            text-align: center;
            display: flex;
    }

    .About-Me p {
        display: inline-block;
        width: 60%;
        position: relative;
        text-align: center;
        float: none;
        margin: 0px;
        border: none;
        padding: 0px;
        top: 0px;
    }

    .Work {
        color: rgb(18, 18, 81);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        right: 350px;
        top: 80px;
        margin: 0px;
    }

    .Work-Links {
        border: none;
        margin: 0px;
        height: 0px;
        bottom: 0px;
    }

    .Work h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        position: absolute;
        bottom: 5px;
        left: 550px;
        text-align: center;
        padding: 0px;
    }

    .Surf-Report {
        width: 750px;
        height: 400px;
        margin-left: 125px;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        background-image: url(../assets/images/surf.jpg);
        background-size: cover;
        position: relative;
        left: 105px;
        bottom: 0px;
        padding: 0px;
    }

    .Surf-Report a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 36px;
        font-weight: bold;
        background-color: turquoise;
        right: 0px;
        top: 300px;
        padding-left: 30px;
        text-align: left;
    }

    .Surf-Report p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 223px;
        padding-left: 40px;
        padding-right: 0px;
        text-align: right;
    }

    .LED-Wall {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 360px;
        height: 200px;
        left: 230px;
        bottom: 5px;
        margin: 20px 25px 25px 0px;
        background-image: url(../assets/images/LEDWall.jpg);
        background-size: cover;
    }

    .LED-Wall p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 185px;
        padding-left: 40px;
        padding-right: 0px;
        text-align: right;
    }

    .Calculator {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 360px;
        height: 200px;
        left: 230px;
        bottom: 5px;
        background-image: url(../assets/images/calculator.jpg);
        background-size: cover;
    }

    .Calculator p {
    color: rgb(43, 42, 42);
    position: relative;
    font-size: 18px;
    font-weight: bold;
    background-color: turquoise;
    width: 211px;
    padding-left: 30px;
    padding-right: 0px;
    text-align: right;
    }

    .Pastel-Puzzles {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 360px;
        height: 200px;
        margin: 20px 25px 25px 0px;
        bottom: 35px;
        left: 230px;
        background-image: url(../assets/images/pastel.jpg);
        background-size: cover;
    }

    .Pastel-Puzzles p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 278px;
        padding-left: 40px;
        padding-right: 0px;
        text-align: right;
    }

    .Run-Buddy {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 360px;
        height: 200px;
        left: 230px;
        bottom: 35px;
        background-image: url(../assets/images/runbuddy.jpg);
        background-size: cover;
    }

    .Run-Buddy p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 18px;
        font-weight: bold;
        background-color: turquoise;
        width: 219px;
        padding-left: 40px;
        padding-right: 0px;
        text-align: right;
    }

    .Contact-Me {
        position: relative;
        top: 1000px;
        left: 50px;
        bottom: 0px;
    }
    
    .Contact-Me h2 {
        color: rgb(18, 18, 81);
        display: inline-block;
        font-size: 60px;
        position: relative;
        bottom: 80px;
        right: 100px;
        width: 45%;
        text-align: right;
        border-right: 0;
        border-width: 0;
        padding-right: 0;
    }

    .Contact-Me ul {
        display: inline-block;
        position: relative;
        bottom: 70px;
        right: 230px;
    }

    .Contact-Me ul li {
        display: inline-block;
        padding-right: 20px;
        font-size: 36px;
        font-weight: bold;
        color: rgb(43, 42, 42);
        text-decoration: underline;
    }

    .Contact-Me ul li a {
        display: inline-block;
        text-decoration: none;
        color: rgb(43, 42, 42);
        text-decoration: underline;
    }

    .Contact-Me ul li a {
        display: inline-block;
        text-decoration: none;
        color: rgb(43, 42, 42);
        text-decoration: underline;
    }
}

@media screen and (max-width: 425px) {
    header {
        width: 100%;
        padding: 0px;
    }

    header h1 {
        width: 40%;
        font-size: 36px;
        height: 50%;
        text-align: right;
        top: 15px;
        position: relative;
        padding: 0px;
    }

    header nav {
        font-size: 12px;
        position: relative;
        text-align: right;
        bottom: 30px;
        left: 130px;
        float: none;
    }

    .hero {
        width: 100%;
        height: 100px;
        background-image: url(../assets/images/hero.jpg);
        background-size: cover;
        background-position: center;
    }

    .hero-subtitle h1 {
        position: relative;
        font-size: 24px;
        left: 265px;
        top: 20px;
        background-color: turquoise;
        color: rgb(43, 42, 42);
        width: 30%;
        padding: 0px;
        text-align: center;
    }

    .About-Me h2 {
        font-size: 36px;
        position: relative;
        width: 70%;
        left: -60px;
        padding: 0px;
        text-align: center;
        display: flex;
    }

    .About-Me p {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        float: none;
        margin: 0px;
        border: none;
        padding: 0px;
        top: 0px;
        right: 175px;
        font-size: 12px;
    }

    .Work h2 {
        display: inline-block;
        width: 10%;
        font-size: 36px;
        position: absolute;
        bottom: 35px;
        left: 330px;
        text-align: center;
        padding: 0px;
    }

    .Surf-Report {
        width: 350px;
        height: 200px;
        margin-left: 125px;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        background-image: url(../assets/images/surf.jpg);
        background-size: cover;
        position: relative;
        left: 70px;
        bottom: 35px;
        padding: 0px;
    }

    .Surf-Report a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 24px;
        font-weight: bold;
        background-color: turquoise;
        right: 0px;
        top: 125px;
        padding-left: 30px;
        text-align: left;
    }

    .Surf-Report p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 12px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 159px;
        padding-left: 40px;
        padding-right: 0px;
        text-align: right;
    }

    .LED-Wall {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 170px;
        height: 150px;
        left: 195px;
        bottom: 50px;
        margin: 20px 25px 25px 0px;
        background-image: url(../assets/images/LEDWall.jpg);
        background-size: cover;
    }

    .LED-Wall a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 24px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 10px;
        top: 75px;
    }

    .LED-Wall p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 12px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 107px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: right;
    }

    .Calculator {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 170px;
        height: 150px;
        left: 175px;
        bottom: 50px;
        background-image: url(../assets/images/calculator.jpg);
        background-size: cover;
    }

    .Calculator a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 24px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 10px;
        top: 75px;
    }

    .Calculator p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 12px;
        font-weight: bold;
        background-color: turquoise;
        width: 124px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: right;
    }

    .Pastel-Puzzles {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 170px;
        height: 150px;
        margin: 20px 25px 25px 0px;
        bottom: 90px;
        left: 195px;
        background-image: url(../assets/images/pastel.jpg);
        background-size: cover;
    }

    .Pastel-Puzzles a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 24px;
        width: 100px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 0px;
        top: 75px;
    }

    .Pastel-Puzzles p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 12px;
        font-weight: bold;
        background-color: turquoise;
        top: 0px;
        width: 159px;
        padding-left: 40px;
        padding-right: 0px;
        text-align: right;
    }

    .Run-Buddy {
        position: relative;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
        width: 170px;
        height: 150px;
        left: 175px;
        bottom: 90px;
        background-image: url(../assets/images/runbuddy.jpg);
        background-size: cover;
    }

    .Run-Buddy a {
        text-decoration: none;
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 24px;
        font-weight: bold;
        background-color: turquoise;
        padding-left: 10px;
        top: 75px;
    }

    .Run-Buddy p {
        color: rgb(43, 42, 42);
        position: relative;
        font-size: 12px;
        font-weight: bold;
        background-color: turquoise;
        width: 130px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: right;
    }

    .Contact-Me {
        position: relative;
        top: 625px;
        left: -135px;
        bottom: 0px;
    }

    .Contact-Me h2 {
    color: rgb(18, 18, 81);
    display: inline-block;
    font-size: 36px;
    position: relative;
    bottom: 70px;
    left: -100px;
    width: 90%;
    text-align: right;
    border-right: 0;
    border-width: 0;
    padding-right: 0;
    }

    .Contact-Me ul {
        display: flex;
        position: relative;
        bottom: 70px;
        right: -15px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .Contact-Me ul li {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: rgb(43, 42, 42);
        text-decoration: underline;
        position: relative;
        padding-right: 20px;
    }
}