* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: lightgrey;
}

header {
    background-color: rgb(43, 42, 42);
    padding: 20px 20px 20px 0px;
}

    header h1 {
        display: inline-block;
        font-size: 60px;
        background-color: turquoise;
        color: rgb(43, 42, 42);
        width: 400px;
        height: 65px;
        padding: 0px 10px 10px 115px;
    }

    header nav {
        float: right;
        font-size: 36px
    }

    header nav ul {
        list-style-type: none;
        padding-right: 150px;
    }

    header nav ul li {
        display: inline-block;
        margin-left: 30px;
        margin-top: 20px;
    }

    header nav ul li a {
        text-decoration: underline;
        color: turquoise;
    }

.hero {
    height: 275px;
    width: 100%;
    background-image: url(../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-subtitle h1 {
    position: absolute;
    font-size: 36px;
    left: 1325px;
    top: 175px;
    background-color: turquoise;
    color: rgb(43, 42, 42);
    padding: 10px;
}

.content {
    width: 90%;
    display: inline-block;
    margin-left: 200px;
}

.About-Me {
    margin: 75px 0px 75px 0px;
    color: rgb(18, 18, 81);
}

    .About-Me h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        text-align: right;
        padding-right: 5px;
    }

    .About-Me p {
        display: inline-block;
        width: 60%;
        float: right;
        position: absolute;
        top: 460px;
        margin-left: 60px;
        border-left: solid;
        border-color: rgb(18, 18, 81);
        border-width: 5px;
        padding-left: 125px;
    }

.Work {
    margin: 0px 0px 75px 0px;
    color: rgb(18, 18, 81);            
}

    .Work h2 {
        display: inline-block;
        width: 10%;
        font-size: 60px;
        text-align: right;
        padding-right: 5px;
        position: relative;
        top: 25px;
    }

    .Work-Links {
        display: inline-block;
        border-left: solid;
        border-color: rgb(18, 18, 81);
        border-width: 5px;
        margin-left: 55px;  
    }

    .Work div {
        display: inline-block;
    }

    .Surf-Report {
        display: inline-block;
        width: 1000px;
        height: 400px;
        padding-left: 25px;
        margin-left: 125px;
        border: solid;
        border-width: 5px;
        border-color: turquoise;
    }

    .Surf-Report a {
        text-decoration: none;
        color: rgb(18, 18, 81);
    }